@charset "UTF-8";
/*Listas*/
@import url("https://fonts.gstatic.com");
body {
  background: #048B8D;
  transition: 0.5 ease all;
}
body.light {
  background: #ffff;
}

/*Reseteo de estilos*/
/*Listas*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: text;
  /*Impide que el user seleccione copie y pegue el texto*/
  font-family: "Maven Pro", sans-serif;
}

/*si lo importo aca, no tengo que importarlo en cada archivo de HTML*/
/*Listas*/
h1 {
  color: #ffff;
  display: block;
  text-align: text-align center;
  text-decoration-style: wavy;
  font-size: 150%;
  padding: 1% 1%;
  animation: bounce;
  animation-duration: 1s;
  font-weight: bold;
}
.light h1 {
  color: #036769;
  font-weight: bold;
}

.fake-h1 {
  color: #ffff;
  display: block;
  text-align: left;
  text-decoration-style: wavy;
  font-size: 150%;
  padding: 1% 1%;
  animation: bounce;
  animation-duration: 1s;
  font-weight: bold;
}
.light .fake-h1 {
  color: #036769;
  font-weight: bold;
}

/*Listas*/
.contanev {
  background: #036769;
  min-height: 20px;
  text-align: center;
  font-size: 140%;
  padding: 5px;
  align-self: flex-end;
  border-radius: 0px 0px 35px 35px;
  -webkit-border-radius: 0px 0px 35px 35px;
  box-shadow: #ffff;
  /*boton modo oscuro*/
}
.light .contanev {
  background: #99CCCD;
}
.contanev #navbarDropdown {
  font-size: 110%;
  color: #ffff;
  font-weight: bold;
}
.light .contanev #navbarDropdown {
  color: #ffff;
}
.contanev #navbarDropdown:hover {
  color: #028A8D;
}
.light .contanev #navbarDropdown:hover {
  color: #036769;
}
.contanev #navbarDropdown ::after {
  animation: bounce;
  animation-duration: 1s;
}
.contanev .navbar-toggler-icon {
  background-color: #028A8D;
  width: 5em;
  align-self: flex-end;
  border-radius: 1000px;
  color: #ffff;
  padding: 5px 5px 5px;
  justify-content: right;
  outline: none;
}
.light .contanev .navbar-toggler-icon {
  background-color: #99CCCD;
  outline: none;
}
.contanev .dropdown-item {
  text-align: center;
  color: #028A8D;
}
.contanev .dropdown-item:hover {
  color: #036769;
}
.contanev .btn-outline-success {
  color: #99CCCD;
  background-color: #036769;
}
.contanev .switch {
  margin: 0% 70% 0%;
  width: 70px;
  height: 35px;
  background: #028A8D;
  border-radius: 1000px;
  border: none;
  position: relative;
  /*para el posicionamiento del icono*/
  cursor: pointer;
  display: flex;
  outline: none;
}
.contanev .switch::after {
  content: "";
  /*el content vacio para que funcionene los demas estilos*/
  display: block;
  width: 35px;
  /*tamaño del boton*/
  height: 35px;
  position: absolute;
  /*es importante para posicionar a la derecha o izquierda*/
  background: #99CCCD;
  top: 0;
  left: 0;
  right: unset;
  /*que a la derecha no esta seteada*/
  border-radius: 1000px;
  transition: 0.1s ease all;
  /*transisción a todas las propiedades*/
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.contanev .switch.active {
  background: #036769;
  color: #028A8D;
}
.contanev .switch.active::after {
  right: 0;
  left: unset;
}
.contanev .switch span {
  width: 35px;
  height: 35px;
  line-height: 35px;
  display: block;
  background: none;
  color: #99CCCD;
}

/*Listas*/
.primero {
  color: #ffff;
  display: block;
  text-align: justify;
  text-decoration-style: wavy;
  font-size: 150%;
  margin: 5%;
  padding: 2% 2% 2%;
}
.primero a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
}
.light .primero {
  color: #028A8D;
}

/*Listas*/
.segundo {
  margin: 2%;
  padding: 5% 5% 5%;
  color: #ffff;
  font-size: 150%;
  font-weight: 400%;
  text-align: justify;
  background: #036769;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 35px 35px 35px;
}
.segundo img {
  width: 90%;
  height: 10%;
  margin: 2%;
  padding: 5% 5% 5%;
}
.segundo a {
  text-decoration: none;
  color: #ffff;
  font-weight: bold;
}
.light .segundo {
  background: #99CCCD;
  color: #036769;
}

/*Listas*/
.hablamos {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  text-align: text-align center;
  justify-content: space-evenly;
  text-decoration-style: wavy;
  font-size: 100%;
  color: #ffff;
  padding: 5%;
  width: 100%;
}
.light .hablamos {
  color: #028A8D;
}
.hablamos div {
  display: block;
  text-align: justify;
  color: #ffff;
}
.light .hablamos div {
  color: #028A8D;
}
.hablamos .enviar {
  background: #036769;
  color: #ffff;
}

.glosario div.col {
  padding: 5%;
}
.glosario div.col .negri {
  font-weight: bold;
}

/*Listas*/
footer {
  bottom: 0;
  width: 100%;
  height: 5%;
  color: #ffff;
  background: #036769;
  min-height: 10%;
  text-align: center;
  padding: 1%;
  align-self: flex-end;
  border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 35px 0px 0px;
}
footer .amor {
  animation: heartBeat;
  animation-duration: 0.5s;
  animation-iteration-count: 1000;
}
footer .modal .modal-body p {
  text-decoration: none;
  color: #028A8D;
  width: 100%;
  padding: 1%;
}
.light footer {
  background: #99CCCD;
  color: #028A8D;
}

/*Listas*/
/*Listas*/
.cmn-divfloat {
  position: fixed !important;
  bottom: 45px;
  right: 15px;
  display: none;
}

.cmn-btncircle {
  width: 200% !important;
  height: 250% !important;
  padding: 30% 30%;
  border-radius: 30%;
  font-size: 150%;
  text-align: center;
}

.btn-primary {
  background: #99CCCD;
  color: #ffff;
  border-color: transparent;
}
.btn-primary:hover {
  background-color: #99CCCD;
  color: #028A8D;
  border-color: transparent;
}
.light .btn-primary {
  background: #036769;
  color: #ffff;
}
.light .btn-primary:hover {
  background-color: #028A8D;
  color: #99CCCD;
  border-color: transparent;
}

/*# sourceMappingURL=style.css.map */
