@import '../variables/list';
.donacion-hablamos{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: nth($list: $texto , $n:3);
    justify-content:space-evenly;
    text-decoration-style: wavy;
    padding: 5% 5% 5%;
    font-size: 100%;

    li p a{
        display: block;
        text-align: center;
    }

    .hablamos {
        padding: 2%;
        width: 50%;

    }

    .enviar{
        background: nth($list: $colores, $n:4 ); 
        color: nth($list: $colores, $n:2 );
    }

}