@import '../variables/list';
.contanev{
    background: nth($list: $colores, $n:1 );
    min-height: 20px;
    text-align: center;
    font-size: 110%;
    padding: 5px;
    align-self: flex-end;
    border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid nth($list: $colores, $n:3 );

    #navbarDropdown{
        font-size: 110%;
        color: nth($list: $colores, $n:2 );
            &:hover{
                color: nth($list: $colores, $n:5 );
            }
            ::after{
                animation: bounce; 
                animation-duration: 1s;
            }
    }



    .navbar-toggler-icon{
        background-color: nth($list:$colores , $n:2 );
        padding: 2em;
        width: 5em;
        align-self: flex-end;
        border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid nth($list:$colores , $n:1 );
    
        color: nth($list: $colores, $n:1 );
        padding: 3px 6px ;
        justify-content: right;
    }

    .dropdown-item{
        color: nth($list: $colores, $n:1 );
        &:hover{
            color: nth($list: $colores, $n:5 );
        }
    }
    
    .btn-outline-success{
        color: nth($list: $colores, $n:2 );
        background-color: nth($list: $colores, $n:5 );
    }

    .switch{
        background-color: nth($list: $colores, $n:5 );
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;
        span{
            width: 30px;
            height: 30px;
            line-height: 30px;
            display: block;
            background: none;
            color: white;

        }
    }

}