@import '../variables/list';
.contanev{
    background: nth($list: $colores, $n:1 );
    min-height: 20px;
    text-align: center;
    font-size: 110%;
    padding: 5px;
    align-self: flex-end;

    border-radius: 0px 0px 35px 35px; 
-webkit-border-radius: 0px 0px 35px 35px; 
    box-shadow: nth($list:$colores , $n:1 );

    #navbarDropdown{
        font-size: 110%;
        color: nth($list: $colores, $n:3 );

            .dark &{
                color: nth($list: $colores, $n:2 );
            }

            &:hover{
                color: nth($list: $colores, $n:5 );
            }
            ::after{
                animation: bounce; 
                animation-duration: 1s;
            }
    }



    .navbar-toggler-icon{
        background-color: nth($list:$colores , $n:2 );
        padding: 2em;
        width: 5em;
        align-self: flex-end;
        border-radius: 1000px;
    
        color: nth($list: $colores, $n:1 );
        padding: 3px 6px ;
        justify-content: right;
    }

    .dropdown-item{
        text-align: center;
        color: nth($list: $colores, $n:1 );
        &:hover{
            color: nth($list: $colores, $n:5 );
        }
    }
    
    .btn-outline-success{
        color: nth($list: $colores, $n:2 );
        background-color: nth($list: $colores, $n:5 );
    }



/*boton modo oscuro*/
    .switch{ 
        margin: 0% 70% 0%;
        width: 70px;
        height: 35px;
        background:nth($list:$colores , $n:3 );
        border-radius: 1000px;
        border:none;
        position: relative; /*para el posicionamiento del icono*/
        cursor: pointer;
        display: flex;
        outline: none;
    
        &::after{
            content: ""; /*el content vacio para que funcionene los demas estilos*/
            display: block; 
            width: 35px; /*tamaño del boton*/ 
            height: 35px;
            position: absolute; /*es importante para posicionar a la derecha o izquierda*/
            background: nth($list:$colores , $n:2 );
            top: 0;
            left: 0;
            right: unset; /*que a la derecha no esta seteada*/ 
            border-radius: 1000px;
            transition: .10s ease all; /*transisción a todas las propiedades*/
            box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
        }
    
    
        &.active{
            background: nth($list:$colores , $n:5 );   
            color: nth($list:$colores , $n:3 );
            
            &::after{
            right: 0;
            left: unset;
            }
        }
    
    
        span {
            width: 35px;
            height: 35px;
            line-height: 35px;
            display: block; 
            background: none;
            color: nth($list: $colores , $n:2 );
        }
    }  
}

  