.contanev{
    background: #00796B;
    min-height: 20px;
    text-align: center;
    font-size: 50px;
    padding: 5px;
    align-self: flex-end;
    border-radius: 35px 0px 35px 0px; 
-moz-border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 0px 35px 0px; 
border: 2px solid black;

    #navbarDropdown{
        font-family: 'Maven Pro', sans-serif;
        font-size: 50px;
        color: #ffffff;
            &:hover{
                color: #F8BF0F;
            }
            ::after{
                animation: bounce; 
                animation-duration: 1s;
            }
    }



    .navbar-toggler-icon{
        background-color: #ffffff;
        padding: 2em;
        width: 5em;
        align-self: flex-end;
        border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #e6c4ff;
    
        color: #00796B;
        font-family: 'Maven Pro', sans-serif;
        padding: 3px 6px ;
        justify-content: right;
    }

    .dropdown-item{
        color: #00796B;
        &:hover{
            color: #F8BF0F;
        }
    }
    
    .btn-outline-success{
        color: #ffffff;
        background-color: #F8BF0F;
    }
}