@import '../variables/list';
footer{
    color: nth($list: $colores , $n:2 ); 
    background: nth($list: $colores, $n:1 );
    min-height: 20px;
    text-align: center;
    font-size: nth($list: $texto, $n:1 );
    padding: 1%;
    align-self: flex-end;
    border-radius: 35px 0px 35px 0px; 
-webkit-border-radius: 35px 35px 0px 0px; 
    .amor{
        animation: heartBeat; 
        animation-duration: 0.5s;
        animation-iteration-count: 1000;
    }

    .dark &{
        color: nth($list: $colores, $n:2 );
    }
}