@import '../variables/list';
.hablamos{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    text-align: nth($list: $texto , $n:3);
    justify-content:space-evenly;
    text-decoration-style: wavy;
    font-size: 100%;
    color: nth($list:$colores , $n:1 );
    
    padding: 5%;
    width: 100%;

    .light &{
        color: nth($list: $colores, $n:3 );
    }

    div{
        display: block;
        text-align: justify;
        color: nth($list:$colores , $n: 1);
        .light &{
            color: nth($list: $colores, $n:3 );
        }
    }

    .enviar{
        background: nth($list: $colores, $n:5 ); 
        color: nth($list: $colores, $n:1 );
    }
}

.glosario div.col{
    padding: 5%;
    
    .negri{
        font-weight: bold;
    }
}