@import '../variables/list';
.primero{
    color: nth($list: $colores , $n:1 );
    display:block;
    text-align: justify;
    text-decoration-style: wavy;
    font-size: nth($list: $texto, $n:1 ); 
    margin: 5%;
    padding: 2% 2% 2%;

    tr{
        column-count: 2; 
        column-gap:10px;
    }
    
    .light &{
        color: nth($list: $colores, $n:3 );
    }
}