@import '../variables/list';
.primero{
    color: nth($list: $colores , $n:1 );
    display:block;
    text-align: justify;
    text-decoration-style: wavy;
    font-size: nth($list: $texto, $n:1 ); 
    margin: 5%;
    padding: 2% 2% 2%;

    a {
        text-decoration: none;
        color: nth($list:$colores , $n:1 );
        font-weight: bold;

    }
    
    
    .light &{
        color: nth($list: $colores, $n:3 );
    }
}