@import '../variables/list';
.primero{
    color: nth($list: $colores , $n:3 );
    display:block;
    text-align: justify;
    text-decoration-style: wavy;
    font-size: nth($list: $texto, $n:1 ); 
    margin: 5%;
    padding: 0% 10%;

    .dark &{
        color: nth($list: $colores, $n:2 );
    }
}