@import '../variables/list';
.cmn-divfloat {
    position: fixed !important;
    bottom: 45px;
    right: 15px;
    display: none;
}
.cmn-btncircle {
    width: 40px !important;
    height: 40px !important;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 18px;
    text-align: center;
}

.btn-primary{
    background: nth($list: $colores, $n: 2);
    color: nth($list: $colores, $n: 1 );
    border-color: transparent;
    
    &:hover{
        background-color: nth($list:$colores , $n:2);
        color: nth($list:$colores , $n:3 );
        border-color: transparent;
    }

    .light &{
        background: nth($list: $colores, $n:5 );
        color: nth($list: $colores, $n:1 );

        &:hover{
            background-color: nth($list:$colores , $n:3);
            color: nth($list:$colores , $n:2 );
            border-color: transparent;
        }
    }

}
