@import '../variables/list';
.switch{
    background:nth($list:$colores , $n:3 );
    border-radius: 1000px;
    border:none;
    position: relative; 
    cursor: pointer;
    display: flex;
    outline: none;
    span {
        width: 30px;
        height: 38px;
        line-height: 30px;
        display: block;
        background: none;
        color: nth($list: $colores , $n:2 );
    }
}