@import '../variables/list';
@import '../variables/extends';

body{
    background:  nth($list: $colores , $n:3); 
    transition: .5 ease all;

    &.light{
        background: nth($list: $colores , $n:2 );
    }

}
