@import '../variables/list';
h1{
    color: nth($list: $colores, $n:2 );
    display:block;
    text-align: center;
    text-decoration-style: wavy;
    font-size: 150%; 
    padding: 1% 1%; 
    animation: bounce; 
    animation-duration: 1s;

}

.fake-h1{
    color: nth($list: $colores, $n:2 );
    display:block;
    text-align:left;  
    text-decoration-style: wavy;
    font-size: 120%; 
    padding: 1% 1%; 
    animation: bounce; 
    animation-duration: 1s;
}