@import '../variables/list';
h1{
    color: nth($list: $colores, $n:1 );
    display:block;
    text-align: nth($list: $texto , $n: 3);
    text-decoration-style: wavy;
    font-size: nth($list: $texto , $n:1 ); 
    padding: 1% 1%; 
    animation: bounce; 
    animation-duration: 1s;
    font-weight: bold;

    .light &{
        color: nth($list: $colores, $n:5 );
        font-weight: bold;
    }

}

.fake-h1{
    color: nth($list: $colores, $n:1 );
    display:block;
    text-align:left;  
    text-decoration-style: wavy;
    font-size: nth($list:$texto , $n:1 ); 
    padding: 1% 1%; 
    animation: bounce; 
    animation-duration: 1s;
    font-weight: bold;

    .light &{
        color: nth($list: $colores, $n:5 );
        font-weight: bold;
    }
}